cryptography==45.0.5
fastapi==0.116.1
langchain==0.3.27
langchain-core==0.3.72
langgraph==0.5.4
psycopg==3.2.9
pydantic==2.11.7
python-dotenv==1.1.1
requests==2.32.4
uvicorn==0.35.0
langchain-openai==0.3.28
langchain-anthropic==0.3.17
langchain-google-genai==2.1.8
langchain-deepseek==0.1.4
langgraph-checkpoint-postgres==2.0.23
psycopg[binary,pool]==3.2.9